<div class="container">
    <header>
        <h1>ANIME</h1>
    </header>
    <nav>
        <input placeholder="Year" [(ngModel)]="year" value="year" (ngModelChange)="searchSeason()">
        <select class="select-gen" [(ngModel)]="season" (ngModelChange)="searchSeason()">
            <option *ngFor="let n of seasons" [value]="n">{{n}}</option>
        </select>
        <!-- <button (click)="searchSeason()">Search</button> -->
    </nav>
    <div class="container-anime">
        <div class="card-anime">
            <div class="anime" *ngFor="let n of Animelistseason">
                <img class="img-p" src="{{n.image_url}}">
            </div>
        </div>
    </div>
</div>