header{
    text-align: center;
    background-color: rgb(84, 84, 84);
    color: white;
}
nav{
    background-color: rgb(219, 219, 219);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input{
    height: 30px;
    border-radius: 10px;
    border: 0;
    padding-left: 10px;
}
select{
    height: 32px;
    border: 0;
    border-radius: 10px;
}

.card-anime{
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    cursor: pointer;
}
.anime{
    width: 250px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.anime img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.anime:hover{
    transform: scale(1.15);
    transition: 0.25s;
}