<div class="container">
    <header
        style="background-color: #48b0f1; height: 100%; display: flex; justify-content: center; align-items: center;">
        <h1>ANIME</h1>
    </header>
    <nav>
        <div class="topic-anime">
            <a (click)="selectTopanime()" [(ngModel)]="clickTopanime">Top Anime</a>
        </div>
        <div class="search-season">
            <a>Season Now</a>
            <input placeholder="Year" [(ngModel)]="year" value="year" (ngModelChange)="searchSeason()">
            <select class="select-season" [(ngModel)]="season" (ngModelChange)="searchSeason()">
                <option *ngFor="let n of seasons" [value]="n">{{n}}</option>
            </select>
        </div>
    </nav>
</div>

<div *ngIf="clickTopanime">
    
</div> 

<div *ngIf="clickTopanime; else animess">
    <app-animedetail [animelist]="animelisttop"></app-animedetail>
</div>

<ng-template #animess>
    <app-animedetail [animelist]="Animelistseason"></app-animedetail> 
</ng-template>